<div id="jp_container_N" class="player" music-player>
	<div id="jquery_jplayer_N" class="jp-jplayer"></div>
	<div class="player_top"></div>
	<div class="player_middle">
		<div class="main_left"></div>
		<div class="player_list">
			<div class="playlist">
				<div class="playlist_header playlist_row">
					<div class="c1"></div>
					<div class="c2">歌曲(50)</div>
					<div class="c3">演唱者</div>
					<div class="c4">专辑</div>
					<div class="c5"></div>
				</div>
				<div class="playlist_row">
					<div style="text-align: center">
						<input type="checkbox" />
					</div>
					<div class="song_title">地球ぎ</div>
					<div class="song_artist">松澤由美</div>
					<div class="song_album">聖闘士星矢 主題歌&BEST</div>
					<div>1</div>
				</div>
				<div class="playlist_row">
					<div style="text-align: center">
						<input type="checkbox" />
					</div>
					<div class="song_title">地球ぎ</div>
					<div class="song_artist">松澤由美</div>
					<div class="song_album">聖闘士星矢 主題歌&BEST</div>
					<div>1</div>
				</div>
				<div class="playlist_row">
					<div style="text-align: center">
						<input type="checkbox" />
					</div>
					<div class="song_title">地球ぎ</div>
					<div class="song_artist">松澤由美</div>
					<div class="song_album">聖闘士星矢 主題歌&BEST</div>
					<div>1</div>
				</div>
			</div>
		</div>
		<div class="main_right"></div>
	</div>
	<div class="player_bottom">
		<div class="player-info">
			<div style="border: 1px solid #000;">1</div>
		</div>
		<div class="player-controls">
			<a ng-href="">
				<i class="glyphicon glyphicon-backward"></i>
			</a>
			<a ng-href="">
				<i class="glyphicon glyphicon-play" ng-show="!playing" ng-click="play()"></i>
				<i class="glyphicon glyphicon-pause" ng-show="playing" ng-click="pause()"></i>
			</a>
			<a ng-href="">
				<i class="glyphicon glyphicon-forward"></i>
			</a>
		</div>
		<div class="player-volumn"></div>
	</div>
</div>